/* CSS reset */
// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

html {
  
}

body {
  
}

header {
  background-color: $color-white;
}

main {
  padding-top: 9.5rem;
  padding-bottom: 2.45rem;
  // to allow scrollToView() to work correctly
  // padding-bottom: 100vh;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
}

template {
  display: none;
}
  
@media (min-width: 576px) {
  main {
    padding-top: 10.78rem;
  }
}
