/* CSS reset */
// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

html {
  /* Root font size - 10px by default */
  // font-size: 62.5%;
}

// body {
//   box-sizing: border-box;   
// }

header {
  background-color: $color-white;
}

main {
  padding-top: 18.25rem;
  padding-bottom: 3.5rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  
@media (min-width: 576px) {
  main {
    padding-top: 10.78rem;
  }
}

// ul {
//     list-style: none;

//     li {
//         margin: 0;
//     }
// }

// a:link,
// a:visited {
//     text-decoration: none;
// }
